annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.14.1
blinker==1.9.0
certifi==2026.6.17
click==8.3.0
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
dnspython==2.8.0
email-validator==2.3.0
fastapi==0.139.0
Flask==3.1.2
fonttools==4.60.1
h11==0.16.0
httpcore==1.0.9
httptools==0.8.0
httpx==0.28.1
idna==3.18
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.2
kiwisolver==1.4.9
MarkupSafe==3.0.3
matplotlib==3.10.7
npm==0.1.1
numpy==2.2.4
optional-django==0.1.0
packaging==25.0
pandas==2.3.3
pillow==12.0.0
pycryptodome==3.23.0
pydantic==2.13.4
pydantic_core==2.46.4
PyJWT==2.13.0
pyparsing==3.2.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2025.2
PyYAML==6.0.3
scikit-learn==1.7.2
scipy==1.16.2
six==1.17.0
starlette==1.3.1
threadpoolctl==3.6.0
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2025.2
uvicorn==0.51.0
watchfiles==1.2.0
websockets==16.0
Werkzeug==3.1.3
